@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.add-btn {
  background-color: rgba(3, 7, 18, 0.1); 
  height: 56px;
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem; 
  font-weight: bold;
  
}




/* bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold
bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold
bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold
bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold
bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold
bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold
bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold
bg-[#0307121A] h-14 w-28 flex justify-center items-center rounded-xl font-bold */
